/* Shaking Animation */
@keyframes shaky {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}
/* CARD PART */

.projectCard {
  height: 350px;
  width: 300px;
  border: 20px solid white;
  border-radius: 5px;
  background: white;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  box-shadow: 0px 2px 7px rgb(44, 34, 2);
}
.projectCard:hover {
  animation: shaky 0.8s ease-in;
}
.projectCard h2 {
  font-family: "Gochi Hand", cursive;
  font-size: 200%;
}
.projectImg {
  height: 280px;
  border-radius: 5px;
}

/* COCKTAIL PROJECT  */
.cocktailProject {
  margin: 20px;
  height: 390px;
  width: 340px;
  border-radius: 5px;
}
.cocktailThumbstack {
  width: 25%;
  height: 25%;
  position: absolute;
  top: -40px;
  right: 42%;
  z-index: 100;
}
.projectImg:hover {
  opacity: 0.5;
  cursor: pointer;
}
/* FROG PROJECT */

.frogProject {
  margin: 20px;
  height: 390px;
  width: 340px;
  border-radius: 5px;
}

.frogThumbstack {
  width: 25%;
  height: 25%;
  position: absolute;
  top: -40px;
  right: 42%;
  z-index: 100;
}
/* WAR PROJECT */

.warProject {
  margin: 20px;
  height: 390px;
  width: 340px;
  border-radius: 5px;
}
.warThumbstack {
  width: 25%;
  height: 25%;
  position: absolute;
  top: -40px;
  right: 42%;
  z-index: 100;
}

/* CALCULATOR PART */
.calcProject {
  margin: 20px;
  height: 390px;
  width: 340px;
  border-radius: 5px;
}
.calcThumbstack {
  width: 25%;
  height: 25%;
  position: absolute;
  top: -40px;
  right: 42%;
  z-index: 100;
}
